/* --- Resets --- */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* --- Color Variables --- */
:root {
    --dark-main-color: #2E323F;
    --main-color: #3B4050;
    --light-main: #6F737F;
    --white: #FFFFFF;
    --secondary: #A59678;
}

/* --- Global --- */
img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.logo {

}
/* --- Hamburger --- */
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
}
.nav-toggle-off {

}
/* --- Navbar --- */
header {
    margin: 0;
    padding: 0;
    background-color: var(--dark-main-color);
}

.nav-list {

}

.nav-item {

}

.nav-link {

}

/* --- Hero --- */

