/* --- Resets --- */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--oswald);
    display: flex;
    flex-direction: column;
}

/* --- Color Variables --- */
:root {
    --dark-main-color: #2E323F;
    --main-color: #3B4050;
    --light-main: #6f737f48;
    --white: #FFFFFF;
    --secondary: #A59678;
    --oswald: 'Oswald', sans-serif;
    --montserrat: 'Montserrat', sans-serif; 
}

/* --- Global --- */
img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    /* border: 2px solid red; */
    /* position: relative; */
}

.logo {
    min-width: 40px;
}
/* --- Hamburger --- */
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
}
.nav-toggle-off {

}
/* --- Navbar --- */
header {
    margin: 0;
    padding: 0;
    background-color: var(--dark-main-color);
}

.nav-list {

}

.nav-item {

}

.nav-link {

}

/* --- Hero --- */

.hero {
    margin: 0;
    padding: 5rem 0;
    background-color: var(--main-color);
}

.hero-title {
    margin: 0;
    color: var(--white);
    font-size: 3.5rem;
    line-height: 100%;
}

.hero-title-em {
    color: var(--secondary)
}

.hero-text {
    font-family: var(--montserrat);
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 300;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--secondary);
    color: var(--white);
    padding: .25em 1em;
    border-radius: 100px;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: var(--oswald);
}

/* --- First --- */
.first {
    background-color: var(--light-main);
    text-align: center;
    padding: 5rem 0;
}

.first-item > h2 {
    color: var(--secondary);
    font-size: 1.8rem;
}

.first-item > p {
    font-family: var(--montserrat);
    font-size: 1.125rem;
    font-weight: 300;
}

/* --- Second --- */
.second-container > h2 {
    color: var(--secondary);
    font-size: 2.25rem;
}

.second-container > p {
    font-family: var(--montserrat);
    font-size: 1.3125rem;
}
.second-container-aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.second-item {
    background-color: var(--main-color);
    color: var(--white);
    padding: 1.5rem;
    text-align: center;
}

.second-item > h2 {
    font-size: 1.875rem;
}

.second-item > p {
    font-family: var(--montserrat);
    font-size: 1rem;
}

.second-container-img {
    width: 80vw;
    
}

/* --- Third --- */
.third {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--main-color);
    color: var(--white);
}

.third > h1 {
    text-align: center;
    font-size: 2rem;
}

.third-text-container > h2 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary);
}

.third-text-container > p {
    font-family: var(--montserrat);
    text-align: center;
}

.items-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.third-item {
    width: 30%;
    
}

.third-item > h2 {
    color: var(--secondary);
    font-size: 1.3125rem;
}

.third-item > p {
    font-family: var(--montserrat);
    font-size: 0.9rem;
}

/* --- Media Queries --- */
@media (min-width: 700px) and (max-width: 999px) {
    .row {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    
    .hero-aside {
        align-self: flex-end;
    }

    .second {
        display: flex;
        flex-direction: column;
    }

    .second-container {
        display: flex;
        flex-direction: column;
    }

    .second-container-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .second-item > h2 {
        font-size: 2rem;
    }

    .second-item > p {
        font-size: 1rem;
    }

    .items-container {
        border: 2px solid red;
    }
}

@media (min-width: 1000px) {
    .row {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    .hero-title {
        font-size: 4.5rem;
    }

    .second {
        display: flex;
        padding: 2rem 0;
    }

    .second-container {
        width: 60%;
    }

    .second-container-aside {
        width: 30%;
    }

    .third-main {
        display: flex;
        justify-content: space-between;
    }

    .third-text-container {
        width: 40%;
    }

    .items-container {
        width: 50%;
    }
}